div {
    border: 1px solid transparent;
    margin: 0;
}

.navbar {
    background-color: #E2F6FF;
    width: 100%;
    height: 50px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    border-right: 1px solid grey;
    padding: 10px;
}

.header {
    background-color: #001FA8;
    width: 100%;
    height: 200px;
}

.header h1 {
    color: white;
    margin: 30px;
}

.content {
    background-color: #DADADA;
    display: inline-block;
    width: 70%;
}

.content h3, .content p {
    margin-left: 30px;
}

.sidebar {
    background-color: #A5C3FF;
    display: inline-block;
    vertical-align: top;
    width: calc(30% - 8px);
    height: 400px;
    text-align: center;
    margin-top: -50px;
}
