div {
    border: 1px solid transparent;
    margin: 0;
}

.navbar {
    background-color: #BBE7FF;
    width: 100%;
    height: 50px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
}

.header {
    background-color: #001FA8;
    width: 100%;
    height: 200px;
}

.content {
    background-color: #DADADA;
    display: inline-block;
    width: 70%;
}

.sidebar {
    background-color: #A5C3FF;
    display: inline-block;
    vertical-align: top;
    horizontal-align: right;
    width: calc(30% - 8px);
    height: 400px;
}
