div {
    border: 1px solid transparent;
    margin: 0;
}

.navbar {
    background-color: #E2F6FF;
    width: 100%;
    height: 50px;
}

.navbar ul {
    align: center;
    list-style-type: none;
}

.navbar li {
    display: inline;
    border-right: 1px solid grey;
    padding: 10px;
}

.header {
    background-color: #001FA8;
    width: 100%;
    height: 200px;
}

.header h1 {
    color: white;
    margin: 30px;
}

.content {
    background-color: #DADADA;
    display: inline-block;
    width: 70%;
}

.content h3, .content p {
    margin-left: 30px;
}

.sidebar {
    background-color: #A5C3FF;
    display: inline-block;
    width: calc(30% - 7px);
    float:right;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 200px;
}

@media (max-width: 800px) {
  .sidebar {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    }
  .content {
    width: 100%;
    }
}

@media (max-width: 330px) {
    .navbar li {
      padding: 5px;
    }
}
