.navbar {
    background: #4889D5;
}

.nav .nav-item .nav-link {
    color: black;
}

.nav .nav-item .active {
    background: white
}

.header {
    margin: 0;
    background: url(../img/bg.png) repeat;
}

.grid-img {
     width: 100%;
}

.offers p {
    margin-top: 20px;
    font-size: 18px;
}

.offers .display-4 {
    font-size: 28px;
}

.offers .display-3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.offers .btn {
    margin-top: 10px;
}

.review-form .display-4 {
    font-size: 30px;
}

.offer {
    margin-bottom: 40px;
}

.page-footer {
    margin-top: 20px;
    background: #DDD;
}
